
.container {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			height: 100vh;
			background-color: #61c398;
		}

		.btn {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 200px;
			height: 200px;
			margin: 20px;
			padding: 10px;
			background-color: #fff;
			border-radius: 10px;
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
			transition: transform 0.3s ease-in-out;
			cursor: pointer;
		}

		.btn:hover {
			transform: translateY(-10px);
		}

		.btn img {
			width: 100px;
			height: 100px;
			margin-bottom: 10px;
		}

		.btn h3 {
			margin: 0;
			font-size: 24px;
			text-align: center;
		}
